.banner{
    text-align: center;
    display: block;
}

.header{
    width: 100%;
}

.portal{
    border: .5rem solid #dc3545;
    border-radius: 0.5rem;
}

.subheader{
    text-align: center;
    padding: 2rem;
    color: #dc3545;
}

.embed{
    padding: 2rem
}

footer{
    background-color: #dc3545;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding-top: 1rem;
    
}